header {
    padding: 20px 0px;
    text-align: center;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: white;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}